.get-button{
        background-color: rgb(121, 82, 179);
        color: white;
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 6px;
        transition: background-color 0.15s;
    }
    .get-button:hover{
        background-color: rgb(99, 60, 156);
    }

    .dl-button {
        background-color: white;
        color: rgb(108, 117, 125);
        border-color: rgb(108, 117, 125) ;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 17px;
        padding-right: 17px;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.15s,
            color 0.15s;
    }
    .dl-button:hover{
        background-color: rgb(108, 117, 125);
        color: white;
    }